<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat%7CMontserrat+Alternates%7COpen+Sans:400,300,500')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        .thumbnail-box
          img.thumbnail(src='https://jmereardon17.github.io/img/jamie-reardon-emoji-avatar.png', alt='Profile photo')
          hr.divider
        .dev-intro-box
          h1 JR
          ul
            li
              p Web Developer for Key Group
            li
              p Mentor for Treehouse
            li
              p Tech Enthusiast
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Jamie Reardon

      block content

  script(src='/static/js/script.js')