extends layout

block content 

  article.error
    .inner-wrapper
      .box
        h3 Oh no 404! This isn't the page you are looking for! 
        p Sorry! That page does not exist, take this 
          a(href='/') link
          |  to head back!